HF_ENDPOINT=https://hf-mirror.com
HF_HOME=.cache/huggingface
MODELSCOPE_CACHE=.cache/modelscope
MODELSCOPE_CREDENTIALS_PATH=.cache/modelscope/credentials
UV_CACHE_DIR=.cache/uv
SPEECH_LAB_MODEL_DIR=models
SPEECH_LAB_RESOURCE_DIR=resources
